<Link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:100,300,500"/>
<Link href="/assets/style.css" rel="stylesheet" type="text/css"/>
<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>