* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html, body {
    margin: 0;
}

.login-full-screen-container {
    background-image: url("/images/narubono-iQ340YfGupw-unsplash.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: hsla(193, 100%, 40%, .63);
    padding: 50px 30px;
    min-width: 400px;
    width: 50%;
    max-width: 600px;
}

.login-title {
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: normal;
}

.login-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login-input label {
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
    margin-bottom: 7px;
}

.login-input input {
    font-size: 1.5em;
    padding: .1em .25em;
    background-color: #7ae7ff7a;
    border: 1px solid hsl(193, 100%, 30%);
    outline: none;
    border-radius: 5px;
    color: white;
    font-weight: lighter;
}

.login-input input:focus {
    border: 1px solid hsl(193, 100%, 50%);
}

.login-button {
    padding: 10px 30px;
    background-color: hsla(193, 100%, 40%, 1);
    width: 100%;
    border-radius: 5px;
    border: 1px solid hsl(193, 100%, 30%);
    outline: none;
    font-size: 1.5em;
    color: white;
    font-weight: lighter;
    margin-top: 20px;
    cursor: pointer;
}

.login-button:hover {
    background-color: hsla(193, 100%, 40%, .63);
}

.login-button:focus {
    background-color: hsla(193, 100%, 40%, .83);
}

.link-to-register {
    text-decoration: none;
    margin:0;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    color:hsl(193, 100%, 20%);
    cursor: pointer;
}

.login-message {
    color: hsl(193, 100%, 20%);
    font-size: 1.5em;
}